<div align="center">
    <h1>We are the FoodBox</h1>
    <hr>
    <p>FoodBox is a technology company that connects people with the best in their cities. We do this by empowering
        local
        businesses and in turn, generate new ways for people to earn, work and live. We started by facilitating
        door-to-door
        Food delivery, but we see this as just the beginning of connecting people with possibility — easier evenings,
        happier
        days, bigger savings accounts, wider nets and stronger communities.</p>
</div>