<div class="card my-4">

  <div class="card-body">

    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="u_name">Username</label>
        <input #u_name="ngModel" [(ngModel)]="user.u_name" class="form-control" id="u_name" name="u_name"
          placeholder="Enter your full name" required type="text">
      </div>



      <div class="form-group">
        <label for="u_password">Password</label>
        <input #u_password="ngModel" [(ngModel)]="user.u_password" class="form-control" id="u_password"
          name="u_password" placeholder="Enter your full address" required type="text">
      </div>

      <button [disabled]="!loginForm.form.valid" class="btn btn-info" type="submit">Submit
      </button>

    </form>

  </div>

</div>