<!DOCTYPE html>
<html lang="en">

<!-- BOOTSTRAP FILES -->

<head>
  <title>FOOD BOX</title>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
  <router-outlet></router-outlet>
  <div class="card my-4">

    <div class="card-body">

      <form #userForm="ngForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="u_name">Name</label>
          <input #u_name="ngModel" [(ngModel)]="user.u_name" class="form-control" id="u_name" name="u_name"
            placeholder="Enter your full name" required type="text">
        </div>



        <div class="form-group">
          <label for="u_address">Address</label>
          <input #u_address="ngModel" [(ngModel)]="user.u_address" class="form-control" id="u_address" name="u_address"
            placeholder="Enter your full address" required type="text">
        </div>


        <div class="form-group">
          <label for="u_email">Email</label>
          <input #u_email="ngModel" [(ngModel)]="user.u_email" class="form-control" id="u_email" name="u_email"
            placeholder="Enter your email" required type="text">
        </div>


        <div class="form-group">
          <label for="u_password">Password</label>
          <input #u_password="ngModel" [(ngModel)]="user.u_password" class="form-control" id="u_password"
            name="u_password" placeholder="Create a login password" required type="password">
        </div>


        <!-- <div>
          <div [hidden]="!u_address.pristine" class="alert alert-danger">Address is required</div>
          <div [hidden]="!u_email.pristine" class="alert alert-danger">Email is required</div>
          <div [hidden]="!u_password.pristine" class="alert alert-danger">Password is required</div>
          <div [hidden]="!u_name.pristine" class="alert alert-danger">Name is required</div>
        </div> -->

        <button [disabled]="!userForm.form.valid" class="btn btn-info" type="submit">Submit
        </button>



      </form>

    </div>

  </div>


</body>

</html>